@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
				margin:0;
				padding:0;
				Box-sizing: border-radius;
}

body{background-image:url('images/bgmobile.png') ;	
     background-color:hsl(0, 100%, 74%) ;
     babackground-repeat: no-repeat;
     background-size: cover;	    
     background-position: center;
     font-family: 'Poppins', sans-serif; 
     font-size: 16px;
     height: 100%;
     width: 100%;
     color: hsl(0, 0%, 100%);
}

main{
				width: 80%;
				margin: auto;
				overflow:hidden;
}

.container{	
      justify-content: center;
	     margin-top: 40px;	
	     font-family: 'Poppins', sans-serif;}
	     
header{
      	align-self: center;		
      	font-size:14px;  
				font-weight:700px;
				text-align:center;
       }
     
h1{
				color: hsl(0, 0%, 100%);
				margin-bottom: 30px;
				padding-right:15px;
     	padding-left:15px;
}

p{
				color:hsla(0, 0%, 100%, 0.9);   
		  	padding-right:2px;
     	padding-left:2px;
     	line-height: 22px; 			
}

.box{
       background-color:hsl(248, 32%, 49%) ;
      	margin-top: 40px;	 
      	margin-bottom: 10px;
      	padding:15px 30px;    
      	border: 1px solid hsl(248, 32%, 49%);
      	border-radius: 10px;
       box-shadow:0px 8px hsla(0, 0%, 0%, 0.2);
       font-family: 'Poppins', sans-serif; 
       font-weight: 400;
       text-align: center;
     }
  
.box strong{
				 color: hsl(0, 0%, 100%);
				font-weight:400px;
}
      
.inputa{
       background-color: hsl(0, 0%, 100%);
       color: hsl(246, 25%, 77%);
       	border: 1px solid hsl(0, 0%, 100%);  
       border-radius: 10px;
	      padding: 20px;
	      padding-top:25px;
	      margin-top:20px;
	      margin-bottom:20px;
	      font-family: 'Poppins', sans-serif; 
       font-weight: 400;
       font-size: 10px;
       text-align: center;
       box-shadow:0px 8px hsla(0, 0%, 0%, 0.2);
       }
	      
 input {
  width:80%;
  padding:15px;
  margin-bottom: 20px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 5px;
  color: hsl(249, 10%, 26%);
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
}

input:focus {
   	outline: none; 
   	text-underline:none;
		 border: 2px solid hsl(246, 25%, 77%); 
			}

.forma{
				text-align:center;
}

.forma .button{
  background-color:hsl(154, 59%, 51%);
  border:0;
  width:95%;
  border-radius: 8px;
  font-weight: 500;
  padding-left: 20px;
  padding-right:20px;
  font-family: 'Poppins', sans-serif; 
  color:hsl(0, 0%, 95%);
  text-align: center;
  box-shadow:0px 3px
  hsl(156, 59%, 45%);
  cursor: pointer;
}				

form strong{
				color:hsl(0, 100%, 74%) ;
}

.caption{
				text-align:center;
				padding-right:15px;
      	padding-left:15px;
      	
}

.error{color: hsl(0, 100%, 74%) ;}

@media screen and (min-width: 800px) 
{	
body{
       background-image:url('images/bgdesktop.png') ;	 
       width:100%;}
 .container{		
     		display: flex;		
 	    		flex-direction: row;	
 					justify-content: center;
 					align-content: center;	
 					align-items:center;		
 					margin-top:40px;}												header{		
 					 	text-align: left; 		
 					  align-self: left;		
 					  		} 		
 h1{	 
        font-size: 40px;	 
     } 
 p	{    
        font-size:13px; 	
      	 line-height: 18px; 
      	 					} 
input{
   				width: 300px;			     	       
   				padding-right: 10px;				}
.forma .button{
  	 width: 300px; } 
 


